@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@theme {
  --color-primary: rgba(17, 37, 69, 1);
  --color-secoundary: rgba(100, 123, 161, 1);
  --color-button-white: rgba(255, 255, 255, 1);
  --color-card-white: rgba(255, 255, 255, 1);
  --color-text-white: rgba(245, 245, 245, 1);
  --color-text-black: rgba(0, 0, 0, 1);
  --color-footer: rgba(0, 0, 0, 1);
}
